.card {
  background: #1e293b;
  border-radius: 12px;
  padding: 20px;
}

.image {
  height: 180px;
  background: #334155;
  border-radius: 8px;
  margin-bottom: 15px;

  animation: pulse 1.5s infinite;
}

.text {
  height: 14px;
  background: #334155;
  margin-bottom: 10px;
  border-radius: 4px;

  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}